<div id="top-link-block">
    <span class="well well-sm">
        <i class="glyphicon glyphicon-chevron-left"></i> <%= link_to "Back to Manage Club" , manage_club_path(path: @club.path) %>
    </span>
</div>

<h1>Club Layout Design</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
<%= render 'design' %>
</div>
</div>