<% provide(:title, 'All Clubs') %>
<h1 class="headings">
  All Clubs
</h1>


<div class="jumbo">
  <ul>
  <% @clubs.each do |club| %>
    <% @club = club %>
    <h4>
      <%#= gravatar_for club, size: 50 %>
      <%= link_to club.name, build_club_path(club) %>
    </h4>
  <% end %>
  <%#= will_paginate @clubs %>
</div>
