<% provide(:title, 'All users') %>

<div id="top-link-block">
    <span class="well well-sm">
        <i class="glyphicon glyphicon-chevron-left"></i> <%= link_to "Back to Manage Club" , manage_club_path(path: @club.path) %>
    </span>
</div>


<h1>All Club Members</h1>

<table class="profile_ban">
  <tr>
    <th>Members</th>
    <th>Email</th>
    <th>Role</th>
  </tr>
  <tr>
    <% @users.each do |user| %>
    <% if user.memClubs.include?(@club) %>
    <td><%= link_to user.name, user_path(user) %></td>
    <td><%= user.email %></td>
    <td><% if @club.is_moderator?(user) %>
      Moderator
        <%else%>
            Member</td>
        <%end%>
  </tr>
  <% end %>
<% end %>
</table>

        
    





<%#= will_paginate %>
