<% provide(:title, @club.name) %>


<h1 class="headings">
  Welcome to <%= @club.name%>
</h1>
    
<p class="p1">
  <%= link_to "Create new post", new_club_post_path %>
</p>

<ul class="posts">
  <% @posts.each do |post| %>
    <% @post = post %>
    <li>
      <%= render partial: 'posts/heading' %>
    </li>
  <% end %>
      
  <%= will_paginate @posts %>
</ul>

