<h1>G4 App</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to Our App! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_path(@user.activation_token,
                                                    email: @user.email) %>