
<% if @mod_requests.any? %>

<% @mod_requests.each do |mod_request| %>

    <% user = User.where(mod_request.inviting_user_id).first %>
 <p>You've been invited to to become a mod for <%= mod_request.club.name %> invited by <%= user.name %> </p>
 <p><%= link_to "Click here to become a mod!" , update_modrequest_club_path(club_id: mod_request.club_id, path: mod_request.club.path, target_club_params: mod_request.club_id), method: :post %></p>
 


<% end %>

<% else %>

<h1>You do not have any invitations</h1>

<% end %>