<% provide(:title, 'About') %>

<h1>About</h1>
<h4>What is NotFB?</h4>
<p>
  NotFB is a web application for Clubs and Sports at SFU, we provide an 
  easier and more organized platform for club admins to create their unique 
  club pages using the templates we provide, and also allow them to manage 
  their club members information such as adding, deleting and the changing 
  status of club members for each semester. We provide users a better 
  platform for communications. It also acts as a twitter feed for clubs and 
  activities at universities to update students on meetings and activities to 
  encourage their involvement in school life.
  It is established in 2015.

</p>
<h4>Who are we?</h4>
<p>
  We are CMPT 276 Group 4.
</p>
