
<div id = "posts" class = "transitions-enabled" >

  <% @posts.each do |post| %>
  <% @post = post %>
  
<<<<<<< HEAD
    <%= render 'posts/heading2' %>
=======
    <%= render 'posts/home' %>
    
>>>>>>> 6575654c71b63f081a28098688cff154668c78fc
    
  <% end %>
  <br>
</div>

<%= will_paginate @posts %>

