<div id = "welcome">
<%= image_tag("images.jpg") %>
<div id = "posts" class = "transitions-enabled" >

  <% @posts.each do |post| %>
  <% @post = post %>
  
    <%= render 'posts/home' %>
    
    
  <% end %>
  <br>
</div>

<%= will_paginate @posts %>

</div>