
<div id = "posts" class = "transitions-enabled" >

  <% @posts.each do |post| %>
  <% @post = post %>
  
    <%= render 'posts/heading2' %>
    
  <% end %>
  <br>
</div>

<%= will_paginate @posts %>

