<div class="center jumbotron">
  <h1>Welcome!!</h1>

  

  <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png"),
            'https://upload.wikimedia.org/wikipedia/bar/2/27/Hello_Kitty_logo.svg' %>