
<% provide(:title, 'Privacy') %>
<h1>Privacy Policy</h1>
<div class = "jumbo">
    <h4>Information You Give</h4>
    <p>
        In order to have full access of our websites, you will be required to create 
        an account by signing up. We will ask for personal information such as your 
        name and your SFU computing ID. 
    </p>
    
    <h4>Information You Share</h4>
    <p>
        Club administrators are allowed to share club information with others through 
        your club webpage. So remember, when you are sharing information publicly, 
        it is viewable by all users.
    </p>
    <p>
        You are solely responsible for all the activities that occur on your 
        account, so make sure to keep your account password secure and give 
        appropriate usage. 
    </p>
    
    <h4>How We Use Information We Collect</h4>
    <p>
        We collect information of you from all of our services and we use these 
        information to provide you with better service, in particular to maintain, 
        protect, and imporve the application.
    </p>
    
    <h4>Links To Other Websites</h4>
    <p>
        Our website my contain links to other websites, and once you ahve used these 
        links to leave our site, we will not be responsible for the protection and 
        privacy of any information you provied.
    </p>
    
    <h4>Changes</h4>
    <p>
      You will be notify via emails when major changes are made to the privacy policy. 
    </p>
</div>