
<% provide(:title, 'Terms') %>
<h1>Terms of Use</h1>
<div class = "jumbo">
    <h4>Your Acceptance</h4>
    <p>
        By using or visiting our website, or any services provided 
        to you from or through our website, you must agree to the terms 
        of use agreement and our <%= link_to "privacy policy", welcome_privacy_path %>. If you do not agree 
        to any of these terms, please do not use the service.
    </p>
    <p>
        You will be notify via emails when major changes are made to these terms.
    </p>
    
    <h4>Accounts</h4>
    <p>
        In order to have full access of our website, you will have to 
        create an account by using your SFU computing ID, verification 
        email will be sent out once you signed up. You may never use someone 
        else’s account without permission.
    </p>
    <p>
        You are solely responsible for all the activities that occur on your 
        account, so make sure to keep your account password secure. 
        Accounts can be disabled or terminated if swearing or spamming happens.
    </p>
    
    
    <h4>Copyright Policy</h4>
    <p>
      Copyright and other relevent intellectual property rights exists on all text. 
    </p>
</div>