<h1 class="headings">
    <%=@post.club.name %>
</h1>

<div class="jumbo2">
    <span>
        <%= @post.context %>
    </span>
    <span>
        <%= link_to 'See All Posts', view_club_path %>
    </span>
</div>


