@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
  margin: 0px auto;
	padding:0;
	font-size: 1.0em;
	color:#666;
	margin-bottom: 20px;

}





.bimage img{
    min-height: 100%; 
    min-width: 1024px; 
    width: 100%; 
    height: auto; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: -100; 
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 28px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}



div {
    display: block;
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
  margin-left: 30px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}




.gravatar_edit img {
  border: solid;
  border-width: 3px;
}




.headings {
  text-align: center;
  background-color: white;
  width: 580px;
  margin: auto;
  padding-top: 28px;
  padding-bottom: 15px;
}




.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


.sidebar {
  border: solid;
  background: white;
  width: 220px;
  position: absolute;
  left: 20px;
  top: 190px;
  border-radius: 12px;
}


/* user avatar */


.avatar img {
  width: 50px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 0;
  padding: 2px;
}


.clubindex {
  border: solid;
  border-radius: 10em 25px;
  box-shadow: 10px 10px 25px #99cbff;
  opacity: 1;
  border-color: #cce5ff;
  background-color: #cce5ff;
  width: 750px;
  margin: auto;
  margin-top: 30px;
  margin-left: 80px;
  padding-bottom: 35px;
  padding-top: 15px;
 
}

.verticalmenu {

  background: #d2d2df;
}


.verticalmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  line-height: 35px;
  font-size: 15px;
}

.verticalmenu ul li {
  position: relative;
  margin: 0;
  padding: 0;
}
.verticalmenu ul li a {
  text-decoration: none;
  cursor: pointer;
}
.verticalmenu > ul > li > a {
  color: #dddddd;
  text-transform: uppercase;
  display: block;
  padding: 20px;
  border-top: 1px solid #a2a2c3;
  border-left: 1px solid #a2a2c3;
  border-right: 1px solid #a2a2c3;
  background: #9393b9;
  box-shadow: inset 0 1px 0 white;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 300;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  position: relative;
}
.verticalmenu > ul > li:first-child > a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.verticalmenu > ul > li:last-child > a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: 1px solid #64649b;
}
.verticalmenu > ul > li:hover > a,
.verticalmenu > ul > li.open > a,
.verticalmenu > ul > li.active > a {
  background: #64649b;
  color: #ffffff;
}
.verticalmenu ul > li.has-sub > a::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid #64649b;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  left: 0;
  bottom: -13px;
  bottom: 0px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.verticalmenu ul > li.has-sub > a:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid #64649b;
  border-bottom: 13px solid transparent;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  left: 0;
  bottom: -12px;
  bottom: -1px;
  z-index: 3;
  opacity: 0;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.verticalmenu ul > li.has-sub:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top-color: #dddddd;
  z-index: 2;
  right: 20px;
  top: 24.5px;

}
.verticalmenu ul > li:hover:after,
.verticalmenu ul > li.active:after,
.verticalmenu ul > li.open:after {
  border-top-color: #ffffff;
}
.verticalmenu ul > li.has-sub.open > a::after {
  opacity: 1;
  bottom: -13px;
}
.verticalmenu ul > li.has-sub.open > a::before {
  opacity: 1;
  bottom: -12px;
}
.verticalmenu ul ul {
  display: none;
}
.verticalmenu ul ul li {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.verticalmenu ul ul li a {
  background: #f1f1f1;
  display: block;
  position: relative;
  font-size: 15px;
  padding: 14px 20px;
  border-bottom: 1px solid #dddddd;
  color: #777777;
  font-weight: 300;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.verticalmenu ul ul li:first-child > a {
  padding-top: 18px;
}
.verticalmenu ul ul ul li {
  border: 0;
}
.verticalmenu ul ul li:hover > a,
.verticalmenu ul ul li.open > a,
.verticalmenu ul ul li.active > a {
  background: #e4e4e4;
  color: #666666;
}
.verticalmenu ul ul > li.has-sub > a::after {
  border-top: 13px solid #dddddd;
}
.verticalmenu ul ul > li.has-sub > a::before {
  border-top: 13px solid #e4e4e4;
}
.verticalmenu ul ul ul li a {
  padding-left: 30px;
}
.verticalmenu ul ul > li.has-sub::after {
  top: 18.5px;
  border-width: 6px;
  border-top-color: #777777;
}
.verticalmenu ul ul > li:hover::after,
.verticalmenu ul ul > li.active::after,
.verticalmenu ul ul > li.open::after {
  border-top-color: #666666;
}





#map-container {
   height: 400px;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 25px;
   border-width: 7px;
   
 }
 #map-canvas {
   height: 384px;
   width: 100%;
 }
 
 /* Bootstrap Css Map Fix*/
#map-container #map-canvas img {
  max-width: none;
}
/* Bootstrap Css Map Fix*/
#map-container #map-canvas label {
  width: auto; display:inline;
}

#search_options {
  margin: 18px 0;
}




























/** body **/
section#body {
	padding: 0;
	/*background: transparent;/*#d2d2df;*/
}



/** content+sidebar styles **/
section#content {
	margin-left: 250px;
	padding: 20px;

}
.column-left {
	float: left;
}
.column-right {
	float: center;
	margin-bottom: 160px;
}
aside#sidebar {
	width: 250px;

	background: #d2d2df;
}

article {
  padding: 2px 10px 30px;
	font-size: 1.2em;
  border-bottom: 1px solid #eee;
 }


article h1 {
  position: relative;
  top: -25px;
}






/* Club Home Page Posts */

#posts {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 200px;
  .box {
	  margin: 10px;
	  width: 350px;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 7px;
	  text-align: center;
	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
	  h2 {
	  	font-size: 22px;
	  	margin: 0;
	  	padding: 25px 10px;
	  	a {
				color: #474747;
	  	}
	  }
	  .user {
	  	font-size: 12px;
	  	border-top: 1px solid #EAEAEA;
			padding: 15px;
			margin: 0;
	  }
	}
}

.posts {
  list-style: none;
  margin-top: 50px;
  li {
    overflow: auto;
    /*border: solid;*/
    width: 360px;
    height: 350px;
    display: inline-block;
    margin: 10px;
    font-size: 18px;
    padding-left: 5px;

  }
}

.timestamp {
  color: gray;
  font-size: 10px;
}

.panel-body {
  text-align: left;

}

.panel-body h4 {
  font-weight: bold;
  margin-top: -6px;
}

header.navbar {
  background: black;
  width: 100%;
  margin-top: 0;
}

footer.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;


}

.footer-ul {
  font-size: 14px;
  list-style-type: none;
  display: inline-block;
  margin-top: 15px;
}

.footer-ul li {
  padding: 10px;
  display: block;
  margin: 7px;
}


.footer-info {
  font-size: 12px;
  color: white;
  text-align: center;
}

/* Logo Image */
div.headerimg {
  width: 100%;
  background: #c2c2d6;
  margin-top: 0;
}

div.headerimg img{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

header ul {
  font-size: 16px;
}

.search_map {
  line-height: 19px;
}

html {
    position: relative;
    min-height: 100%;
}


.col-md-6 {
  margin-bottom: 250px;
  font-size: 13px;
  line-height: 20px;
}