@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html, body {
  padding-top: 60px;
  margin: 0;
  padding: 0;
  height: 100%;
}

.bimage img{
    min-height: 100%; 
    min-width: 1024px; 
    width: 100%; 
    height: auto; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: -100; 
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 28px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  height: 20%;
  width: 20%;
  margin-bottom: 5px;
}

header ul {
  font-size: 17px;
}

/* footer */

.footer-nav {
    list-style: outside none none;
    margin: 10px;
    padding: 0px;
    font-size: 14px;
}

.footer-group-primary {
    float: left;
    margin: 0px 40px;
}

.g4-footer 
{
    background: #222 none repeat scroll 0% 0%;
    padding: 40px 0px;
    color: #666;
    text-align: center;
    vertical-align: middle;
}

.footer-nav li
{
  display: inline-block;
  margin: 0px 0px 0px 20px;
}

div {
    display: block;
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
  margin-left: 30px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}



/* container background */

.jumbo {
  background-color: white; /*#D9D9C7*/
  border: solid;
  border-radius: 12px;
  width: 1100px;
  margin: auto; 
  margin-top: 60px;
  padding-top: 10px;
}

.jumbo img {
  width: 100%; /*px;*/
  height: 800px;
  /*margin: auto;*/
}

.jumbo p {
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 15px;
  text-align: center;
}



.jumbo h1 {
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
}

.jumbo h2 {
  padding-left: 25px;
  padding-top: 10px;
  font-weight: bold;
}

.jumbo h4 {
  padding-left: 25px;
  padding-top: 10px;
  font-weight: bold;
}

.jumbo2 {
  background-color: white; /*#D9D9C7*/
  border: solid;
  border-radius: 12px;
  width: 800px;
  margin: auto; 
  margin-top: 60px;
  padding-top: 10px;
}

.jumbo2 .username {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px;
  font-size: 35px;
  font-family: Verdana, Geneva, sans-serif;
  color: white;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
  letter-spacing: 1px;
  border-bottom: double;
  border-color: black;
  border-bottom-right-radius: 10em 1em;
  border-bottom-left-radius: 10em 1em;
}



.jumbo2 img {
  float: left;

  border: solid;
  border-width: 5px;

}



.jumbo2 .p1 {
  text-align: left;
  width: 200px;
  margin-left: 90px;
  float: left;
}


.jumbo2 .p2 {
  width: 400px;
  position: relative;
  left: 130px;
  float: left;
}

.jumbo2 span {
  display: block;
  padding: 10px;
}

.gravatar_edit img {
  border: solid;
  border-width: 3px;
}


/* posts index */

.posts {
  margin-top: 50px;
  height: 1500px;
  width: 1160px;
  font-size: 12px;
  /*border: solid;*/
  background-color: white;
  display: block;
}

.posts img {
    width: 100%;/*210px;*/
    height: 80%;/*175px;*/
  }
.posts li {
    /*border: solid;*/
    height: 280px;
    width: 220px;
    /*color: navy;*/
}

.posts li span {
    font-size: 12px;
}



.headings {
  text-align: center;
  background-color: white;
  width: 580px;
  margin: auto;
  padding-top: 28px;
  padding-bottom: 15px;
}

.posts {
  list-style: none;
  margin-top: 50px;
  li {
    overflow: auto;
    /*border: solid;*/
    width: 360px;
    height: 350px;
    display: inline-block;
    margin: 10px;
    font-size: 18px;
    padding-left: 5px;

  }
}


.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


.sidebar {
  border: solid;
  background: white;
  width: 220px;
  position: absolute;
  left: 20px;
  top: 190px;
  border-radius: 12px;
}


/* user avatar */
.avatar {
  top: -10px;
  margin-right: -45px;
  margin-left: 10px;

}

.avatar img {
  width: 50%;
  border-radius: 50%;
}


.clubindex {
  border: solid;
  border-radius: 10em 25px;
  box-shadow: 10px 10px 25px #99cbff;
  opacity: 1;
  border-color: #cce5ff;
  background-color: #cce5ff;
  width: 750px;
  margin: auto;
  margin-top: 30px;
  margin-left: 80px;
  padding-bottom: 35px;
  padding-top: 15px;
}

/*vertical menu*/
.verticalmenu {
  height: 1000px;
  background: #d2d2df;
}


.verticalmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  line-height: 35px;
  font-size: 15px;
}

.verticalmenu ul li {
  position: relative;
  margin: 0;
  padding: 0;
}
.verticalmenu ul li a {
  text-decoration: none;
  cursor: pointer;
}
.verticalmenu > ul > li > a {
  color: #dddddd;
  text-transform: uppercase;
  display: block;
  padding: 20px;
  border-top: 1px solid #a2a2c3;
  border-left: 1px solid #a2a2c3;
  border-right: 1px solid #a2a2c3;
  background: #9393b9;
  box-shadow: inset 0 1px 0 white;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 300;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  position: relative;
}
.verticalmenu > ul > li:first-child > a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.verticalmenu > ul > li:last-child > a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: 1px solid #64649b;
}
.verticalmenu > ul > li:hover > a,
.verticalmenu > ul > li.open > a,
.verticalmenu > ul > li.active > a {
  background: #64649b;
  color: #ffffff;
}
.verticalmenu ul > li.has-sub > a::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid #64649b;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  left: 0;
  bottom: -13px;
  bottom: 0px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.verticalmenu ul > li.has-sub > a:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid #64649b;
  border-bottom: 13px solid transparent;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  left: 0;
  bottom: -12px;
  bottom: -1px;
  z-index: 3;
  opacity: 0;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.verticalmenu ul > li.has-sub:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top-color: #dddddd;
  z-index: 2;
  right: 20px;
  top: 24.5px;

}
.verticalmenu ul > li:hover:after,
.verticalmenu ul > li.active:after,
.verticalmenu ul > li.open:after {
  border-top-color: #ffffff;
}
.verticalmenu ul > li.has-sub.open > a::after {
  opacity: 1;
  bottom: -13px;
}
.verticalmenu ul > li.has-sub.open > a::before {
  opacity: 1;
  bottom: -12px;
}
.verticalmenu ul ul {
  display: none;
}
.verticalmenu ul ul li {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.verticalmenu ul ul li a {
  background: #f1f1f1;
  display: block;
  position: relative;
  font-size: 15px;
  padding: 14px 20px;
  border-bottom: 1px solid #dddddd;
  color: #777777;
  font-weight: 300;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.verticalmenu ul ul li:first-child > a {
  padding-top: 18px;
}
.verticalmenu ul ul ul li {
  border: 0;
}
.verticalmenu ul ul li:hover > a,
.verticalmenu ul ul li.open > a,
.verticalmenu ul ul li.active > a {
  background: #e4e4e4;
  color: #666666;
}
.verticalmenu ul ul > li.has-sub > a::after {
  border-top: 13px solid #dddddd;
}
.verticalmenu ul ul > li.has-sub > a::before {
  border-top: 13px solid #e4e4e4;
}
.verticalmenu ul ul ul li a {
  padding-left: 30px;
}
.verticalmenu ul ul > li.has-sub::after {
  top: 18.5px;
  border-width: 6px;
  border-top-color: #777777;
}
.verticalmenu ul ul > li:hover::after,
.verticalmenu ul ul > li.active::after,
.verticalmenu ul ul > li.open::after {
  border-top-color: #666666;
}




#map-container {
   height: 400px;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 25px;
   border-width: 7px;
 }
 #map-canvas {
   height: 384px;
   width: 100%;
 }
 
 /* Bootstrap Css Map Fix*/
#map-container #map-canvas img {
  max-width: none;
}
/* Bootstrap Css Map Fix*/
#map-container #map-canvas label {
  width: auto; display:inline;
}

#search_options {
  margin: 18px 0;
}


/** global **/
body.club_body {
	margin:0px auto;
	padding:0;
	
	font-size: 1.0em;
	color:#666;
	margin-bottom: 20px;
}

/** body **/
section#body {
	padding: 0;
	/*background: transparent;/*#d2d2df;*/
}



/** content+sidebar styles **/
section#content {
	margin-left: 250px;
	padding: 20px;

}
.column-left {
	float:left;
}
.column-right {
	float:right;
}
aside#sidebar {
	width: 250px;
	position: fixed;
	background: #d2d2df;
}

article {
  padding: 2px 10px 30px;
	font-size: 1.2em;
  border-bottom: 1px solid #eee;
 }


article h1 {
  position: relative;
  top: -25px;
}



@media screen and (max-width: 740px) {
	body { font-size: 0.9em; }	
	.width { width:auto; padding-left: 10px; padding-right: 10px; }
	.column-left, .column-right { margin:0px; }
	header h1, header h2, nav#mainnav li a { text-align:center; }
	section#content, aside#sidebar { position: relative; float: none; width: auto; margin-left: 0; }
}


@media screen and (max-width: 540px) {
	body { font-size: 0.8em; }
	header, header h1 a, header h1 a:hover { text-align: center; padding: 10px 0 0 0; font-size: 1.1em; }
	nav#mainnav ul li a { margin-top: 0; padding: 1em; }
}



/* Club Home Page Posts */

#posts {
  margin: 0 auto;
  width: 100%;
  .box {
	  margin: 10px;
	  width: 350px;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 7px;
	  text-align: center;
	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
	  h2 {
	  	font-size: 22px;
	  	margin: 0;
	  	padding: 25px 10px;
	  	a {
				color: #474747;
	  	}
	  }
	  .user {
	  	font-size: 12px;
	  	border-top: 1px solid #EAEAEA;
			padding: 15px;
			margin: 0;
	  }
	}
}

.posts {
  list-style: none;
  margin-top: 50px;
  li {
    overflow: auto;
    /*border: solid;*/
    width: 360px;
    height: 350px;
    display: inline-block;
    margin: 10px;
    font-size: 18px;
    padding-left: 5px;

  }
}

/* show specific posts */

#post_show {
  margin-top: 50px;
	.panel-heading {
		padding: 0;
	}
	.pin_image {
		img {
			max-width: 100%;
	  	height: auto;
		}
	}
	.panel-body {
		padding: 35px;
		h4 {
			margin: 0 0 10px 0;
		}
		.description {
			color: #868686;
			line-height: 1.75;
			margin: 0;
		}
	}
	.panel-footer {
		padding: 20px 35px;
		p {
			margin: 0;
		}
		.user {
			padding-top: 8px;
		}
	}
}

/*Header Footer Body*/

#header {
   background: #ff0;
   padding: 10px;
}

#wrapper {
   min-height: 100%;
   position: relative;
}

#footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 60px;   /* Height of the footer */
   background: #6cf;
}

#body {
   padding: 10px;
   padding-bottom: 60px;   /* Height of the footer */
}