<footer class="footer">
  <small>
    Copyright &copy CMPT276 G4 - Fall 2015 All Rights reserved
  </small>
  <nav>
    <ul>
      <li><%= link_to "Term of Use",   welcome_terms_path %></li>
      <li><%= link_to "Help",   welcome_help_path %></li>
      <li><%= link_to "About",   welcome_about_path %></li>
      <li><%= link_to "Contact", welcome_contact_path %></li>
    </ul>
  </nav>
</footer>